# Entornos virtuales
.venv/
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Herramientas de test / cobertura
.coverage
htmlcov/
.tox/
.pytest_cache/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Artefactos de compilación de sistema operativo
.DS_Store
Thumbs.db